/* You can add global styles to this file, and also import other style files */
body{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

@media screen and (max-width: 992px) {
body{
  margin-left: 10px;
  margin-right: 10px;
}
}




