



@media screen and (min-width: 992px) {
  .container{
    margin-left: 5%;
    margin-right: 5%;
  }
  body{
    margin: 100px;
  }
}

.table{
  margin-top: 30px;
}
/*Customisacao dos botoes*/
.col-acoes {
  width: 120 px
}
.col-acoes > a {
  margin-right: 5px;
}


/*Deixando a tabela responsiva*/
@media (min-width: 40em) {
  /*
  .col-valor-header {
    width: 120px;
  }

  .col-valor {
    text-align: right !important;
  }

  .col-data-header {
    width: 120px;
  }

  .col-data {
    text-align: center !important;
  }

  .col-acoes-header {
    width: 115px;
  }

  .col-acoes {
    width: 115px;
    text-align: center !important;
  }
*/
  .col-acoes .p-button {
    margin: 1px;
  }
}
